# Ignore everything
/*
!/.gitignore
!/remixAi.py
!/drumtest_1_1.py
!/readme.md
!/requirements.txt
!/LICENSE
!/trial_ensemble.mp3

*.mid
*.midi
*.xml
separated_wavs/
modified_midi/
combined_midi/
__pycache__/
*.pyc
.DS_Store
